@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@keyframes fadeInAndSlideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    } 
}

@keyframes backgroundHover {
    from {
        background-color: rgba(255, 255, 255, 0);
    }
    to {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

body {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    background-image: linear-gradient(rgba(1, 1, 1, 0.4), rgba(1, 1, 1, 0.4)), url(../images/cherryhill.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: black;
    width: 80%;
    margin: 0 auto;
}

@media (min-width: 1024px) {
    body {
        width: 60%;
    }
}

h1, nav > ul > li > a {
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    color: white;
}

h2, h3, th, label:not(.checkbox-label) {
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    color: white;
}

/* a {
    color: lightskyblue;
} */

header, footer, nav, main, article, section {
    background: linear-gradient(180deg, rgba(200, 200, 200, 0.5), rgba(175, 175, 175, 0.5));
    backdrop-filter: blur(5px);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

header {
    margin: 25px auto;
    animation: fadeInAndSlideUp 1s forwards;
    opacity: 0;
}

header > ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header img {
    width: 50px;
    height: 50px;
}

nav {
    margin: 25px auto;
    padding: 5px;
    opacity: 0;
    animation: fadeInAndSlideUp 1s forwards 0.1s;
}

nav > ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-inline-start: 0;
    margin: 0;
    gap: 10px;
}

nav > ul > li {
    flex: 1;
}

nav > ul > li > a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-size: 1.25em;
    font-weight: bold;
}

nav > ul > li > a:hover {
    animation: backgroundHover 0.25s forwards;
}

@media (max-width: 767px) {
    nav > ul {
        flex-direction: column;
        align-items: stretch;
    }

    nav > ul > li {
        flex: none;
        width: 100%;
    }

    nav > ul > li > a {
        width: 100%;
    }
}

main {
    padding-inline: 25px;
    padding-block: 25px;
    opacity: 0;
    animation: fadeInAndSlideUp 1s forwards 0.2s;
}

article, section {
    padding-inline: 25px;
    padding-block: 25px;
}

article:not(:last-child), section:not(:last-child) {
    margin-block-end: 25px;
}

figure {
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

figure > img {
    max-width: 50%;
    max-height: 500px;
    border-radius: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 2px solid white;
}

label {
    display: block;
    font-size: 1.5em;
    text-align: center;
    margin-block: 0.5em;
}

input[type="checkbox"], input[type="radio"] {
    width: auto;
    padding: 0;
    margin-right: 10px;
    margin-bottom: 15px;
    vertical-align: middle;
    cursor: pointer;
}

input[type="checkbox"] + label, input[type="radio"] + label {
    display: inline-block;
    width: auto;
    font-size: 1em;
    text-align: left;
    margin-block: 0;
    margin-right: 25px;
}

@media (max-width: 767px) {
    /* input[type="checkbox"] + label, input[type="radio"] + label {
        display: block;
        margin-right: 0;
    } */
}

input, textarea, select {
    background-color: rgba(1, 1, 1, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

select option {
    background-color: #333;
    color: white;
}

button {
    background-color: rgba(1, 1, 1, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    padding: 10px 20px;
}

footer {
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeInAndSlideUp 1s forwards 0.3s;
}